@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>You can reach me on <a title="Linkedin Profile" href="https://www.linkedin.com/pub/ryan-cox/49/257/449">LinkedIn</a> or
    via email at ryan@ryantests.com.  I'm always interested to talk about what I've learned and discuss automation, software testing, or
    development.</p>
