@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>What Ryan's working on:</h1>
    <p class="lead">Right now, I'm just trying to get this site up and running.</p>
    <p><a href="http://www.ryantests.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
   
</div>